.section--hello {
	font-family: 'Mulish', sans-serif;
	position: relative;
	padding: 5vh;
	/* margin-top: 10px; */
	margin-bottom: 0;
	text-align: left;
	height: 90vh;
	box-sizing: border-box;
	display: flex;
	justify-content: left;
	align-items: left;
}
.section--hello .inner {
	max-width: 1600px;
	margin: 0 auto;
}
.section--hello .wrapper {
	color: #f1f2f3;
}
.section--hello .text-title {
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 1px;
	word-spacing: 2px;
}
.section--hello .body {
	font-size: 16px;
	margin-top: 30px;
	text-align: justify;
	font-family: 'Mulish', sans-serif;
	color: #f1f2f3;
}

/* @keyframes hello {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(-10deg);}
	20% {transform: rotate(12deg);}
	30% {transform: rotate(-10deg);}
	40% {transform: rotate(9deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
} */

@media screen and (max-width:1380px) {

}
@media screen and (max-width: 980px) {

}
@media screen and (max-width:768px) {

}